body {
    font-family: 'Raleway', sans-serif;
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-top: 0.5em;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #4F628E;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #061539;
    text-align: justify;
}

footer {
    border-top: 1px solid #2E4272;
}

footer ul li {
    display: inline;
    margin-right: 10px;
    font-size: 1.2em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
